* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	margin: 0;
	background: lightyellow;
}
#wrapper{
	max-width: 1200px;
	padding: 20px;
	margin: 0 auto;
}
.btn-delete{
	margin-left: 15px;
}
.checkbox{
	cursor: pointer;
}
dl{
	margin: 0;
	line-height: 25px;
}
dt{
	float: left;
	clear: left;
	margin: 0 10px 0 0;
}
dd{
	font-weight: bold;
	color: #f00;
	overflow: hidden;
	margin: 0 0 15px;
}
.total{
	font-weight: bold;
	font-size: 20px;
}
.subtotal{
	font-weight: bold;
	font-style: italic;
	color: purple;
}

